<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.0.0" targetFramework="net452" />
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net452" />
  <package id="OpenTK.GLControl" version="3.0.0-pre" targetFramework="net452" />
  <package id="Syroot.IO.BinaryData" version="2.0.1" targetFramework="net452" />
  <package id="Syroot.Maths" version="1.5.0" targetFramework="net452" />
  <package id="Syroot.NintenTools.Bfres" version="1.2.2" targetFramework="net452" />
  <package id="Syroot.NintenTools.Byaml" version="2.1.0-beta2" targetFramework="net452" />
  <package id="Syroot.NintenTools.Yaz0" version="2.0.0" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net452" />
</packages>